html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #3498db;
}

h1 {
    font-size: 100px;
    text-align: left;
    color: #FFF;
    margin-top: 100px;
}

main {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}

#input {
    float: left;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: none;
    border-bottom: 2px solid #FFF;
    width: 82%;
    font-size: 60px;
    color: #FFF;
}

#input:focus,
button:focus {
    outline: 0;
}

nav {
    display: block;
    text-align: left;
    margin-bottom: 60px;
}

nav ul {
    margin: 0; 
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
}

button {
    background: none;
    border: 0;
    display: block;
    text-align: center;
    background: transparent url("../img/mic.png") no-repeat top center;
    width: 113px;
    height: 100px;
    background-size: 50%;
    float: right;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

p {
    color: #FFF;
    text-align: left;
    margin-top: 10px;
    clear: both;
    font-weight: lighter;
}

p.hint {
    font-size: 11px;
}

.about {
    background: #e74c3c;
}

.contact {
    background: #2ecc71;
}

